<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title><%=title %></title>
<link type="text/css" href="style.css" rel="stylesheet">
</head>
<body>
        <h1><%=title %></h1>
        <p><%=msg %></p>
        <table>
          <% for(var i = 0;i < datas.length;i++) { %>
          <tr>
            <td><%= datas[i].name %></td>
            <td><%= datas[i].mail %></td>
            <td><%= datas[i].tel %></td>
          </tr>
          <% } %>
        </table>
</body>
</html>
